services:
  app:
    build: .
    ports:
    - "5173:5173" # Web app
    - "8080:8080" # faucet
    - "9001:9001" # shard proxy
    - "13001:13001" # shard
    environment:
      FAUCET_URL: ${FAUCET_URL:-https://faucet.testnet-conway.linera.net}
      CHAIN_ID: ${CHAIN_ID}
    volumes:
    - .:/build
